<template>
  <div id="navbar">
  <Slide :closeOnNavigation = "true">
    <div class="nav-link"><router-link to="/">Top</router-link></div>
    <div class="nav-link"><router-link to="/about">About</router-link></div>
    <div class="nav-link"><router-link to="/work">Work</router-link></div>
    <div class="nav-link"><router-link to="/contact">Contact</router-link></div>
  </Slide>
  <div id="header-page-wrap"></div>
</div>
</template>

<script>
import { Slide } from 'vue-burger-menu'

export default {
  components: {
    Slide
  },
  name: 'navbar'
}
</script>

<style>
a {
  font-weight: bold;
  color: #ffffff;
}

</style>
