<template>
  <div id="about-page">
      <router-link to="/"><h1>About</h1></router-link>

    <div class="container">
        <div class="content">
            <h2>Profile</h2>
            <p>Nami.Mです。新人エンジニアとして日々勉強中です！</p>
            <p>分からないことばかりですが、たのしい！</p>
            <p>スヌーピーに癒されてます。</p>
            <h3>Skills</h3>
            <span>Java</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Vue.js</span>
        </div>
        <div class="content">
            <h2>Like</h2>
            <h3>Food</h3>
            <p>ラーメン</p>
            <p>お菓子たち</p>

            <h3>Hobby</h3>
            <p>音楽フェス</p>
            <p>カメラ（Fujifilm x-a3 / Fujifilm instax sq6）</p>
        </div>

    </div>
  </div>
</template>

<script>
</script>

<style>
h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-rows: 400px
}
.content {
    background: rgba(0,0,255,0.2);
    padding: 10px;
}
#about-page {
    width: 80%;
    height: 80%;
    margin: auto;
}
.content h2 {
    font-weight: bold;
}
.content h2, h3 {
    color: #2c3e50;
}
.content span {
    padding: 5px;
    font-weight: 300;
    background: rgba(0,0,255,0.4);
    border-radius: 4px;

}

/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {

  .container {
      display: block;
      margin: 10 auto;
  }
  .content {
      margin-top: 10px;
  }
}
</style>
