<template>
  <div id="contact">
    <router-link to="/"><h1>Contact</h1></router-link>
    <p>お気づきの点等何かございましたらお問い合わせください。</p>

    <!-- <div class="contact-form">
        <form method="POST">
            <div>
            <label for="name">お名前</label>
            <input type="text" id="name" name="your-name" size=20>
            </div>
            <div>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="your-email">
            </div>
            <label for="message">メッセージ</label>
            <textarea id="message" name="your-message"></textarea>
            <div>
            <input type="submit" value="送信">
            <input type="reset" value="取消">
            </div>
        </form>
    </div> -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfle1F3--SvJwM_VWsyfApY13cJoBG1Teu1gVvn2zBig1VJNg/viewform?embedded=true" width="700" height="300" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </div>
</template>

<script>
</script>

<style>
#contact {
  margin: auto;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
form div {
    margin-bottom: 14px;
}

/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {

  iframe {
      width: 320px;
  }
}
</style>
