<template>
  <div id="top-page">
      <h1>Nami.M's Portfolio</h1>
  </div>
</template>

<script>
import { VueTyper } from 'vue-typer'

export default {
  components: {
    VueTyper
  },
  name: 'top'
}
</script>

<style>
#top-page {
  margin-top: 9%;
}
#top-page h1 {
  font-size: 80px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}
/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {

#top-page h1 {
    font-size: 50px;
    margin: auto;
  }
  /* html {
    width: 100%;
  } */
  #top-page {
    margin-top: 30%;
    width: 100%;
    height: 100%;
  }
}
</style>
