<template>
  <div id="work">
    <router-link to="/"><h1>Work</h1></router-link>
    <flickity
        :options="flickityOptions"
        ref="flickity"
        @dragMove="dragMove"
        @init="api=$event.flickityApi">

        <div class="carousel-cell">
          <h2>TODOリスト</h2>
          <a href="https://vuejs-todo-test.netlify.app" target="_blank"><img src="../assets/vue-todolist.png" alt="TODOリスト"></a><br>
          <span>Vue.js</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>

        <div class="carousel-cell">
          <h2>みにぶたリバーシ</h2>
          <a href="https://mini-reversi.netlify.app/" target="_blank"><img src="../assets/reversi.png" alt="みにぶたリバーシ"></a><br>
          <span>Vue.js</span>
          <span>HTML</span>
          <span>CSS</span>
        </div>

        <div class="carousel-cell"><p>To be continued...</p></div>
        <div class="carousel-cell"><p>To be continued...</p></div>
      </flickity>
  </div>
</template>

<script>
import Flickity from 'vue-flickity-2'
import 'vue-flickity-2/dist/vue-flickity-2.css'

export default {
  components: {
    'Flickity': Flickity
  },
  name: 'work',
  data: function () {
    return {
      FlickityOptions: {
        'autoPlay': 5000,
        'pageDots': true,
        'resize': true,
        'prevNextButtons': true,
        'wrapAround': true
      },
      api: {}
    }
  },
  methods: {
    dragMove (event, pointer, moveVector) {
      console.log(event, pointer, moveVector)
    }
  }
}
</script>

<style>
h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}
#work {
  width: 70%;
  height: 100%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
  transition: all 0.2s;
}
.flickity-viewport {
  margin: 20px;
}
.carousel-cell {
  width:300px;
  height: 300px;
  margin: 10px;
  background-color: rgba(0,0,255,0.2);
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  font-size: 15px;
  border-radius: 10px;
}
.carousel-cell img {
  width: 250px;
  height: 200px;
}
.carousel-cell span {
    padding: 2px;
    font-weight: 300;
    background: rgba(0,0,255,0.4);
    border-radius: 4px;
}
/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {

#work {
  width: 90%;
}
}

</style>
