<template>
  <div id="page-wrapper">
    <header>
      <navbar />
    </header>
    <main>
      <div id="app">
        <vue-page-transition >
          <router-view/>
        </vue-page-transition>
      </div>
    </main>
    <footer>&copy; 2020 Nami.M</footer>
    </div>
</template>

<script>
import navbar from './components/layouts/navbar'

export default {
  components: {
    navbar
  },
  name: 'App'
}
</script>

<style>
/* 共通部分 */
html {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(/static/kujira.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body {
  line-height: 1.7;
  letter-spacing: 2px;
  height: 80%;
  padding-top    : 70px;      /* ヘッダーの高さに合わせる */
  padding-bottom : 30px;      /* フッターの高さに合わせる */
}

a {
  text-decoration: none;
}

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin: auto;
}
.bm-menu {
  background: rgba(105,105,105,0.2) !important;
  line-height: 3.0 !important;
  letter-spacing: 3px !important;
}
.bm-overlay {
  background: initial !important;
}
.bm-burger-bars {
  background-color: #2c3e50;
}

/* === ヘッダー ============ */
header {
  position    : fixed;
  top         : 0;
  left        : 0;
  right       : 0;
  height      : 70px;
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
}
/* === フッター ============ */
footer {
  position    : fixed;
  bottom      : 0;
  left        : 0;
  right       : 0;
  height      : 30px;
  z-index     : 10;
  text-align  : center;
  font-weight : bold;
}
/* === レスポンシブ対応 ===== */

@media only screen and (max-width: 600px) {
  html {
    background-image: url(/static/kujira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
  }
  body {
    padding: 1%;
    font-size: 13px;
    line-height: 2.0;
  }
  header {
    padding: 5px;
    height: 10%;
  }
  #app {
    margin-top: 20%;
  }
  footer {
    padding: 5px;
    height: 20px;
  }
  .bm-burger-button {
  margin: 0;
  height: 25px;
  position: absolute;
  width: 30px;
  top: 10px;
  left: 10px;
  }
  .bm-menu {
    width: 35%;
    background: rgba(105,105,105,0.8) !important;
    line-height: 1.0 !important;
  }
}
</style>
